body {
    margin: 0px;
}

body {
    background-color: #203235;
    font-family: Sarala, Helvetica, sans-serif;
    color: #00ff8f;
    
}

footer {
    text-align: right;
    padding-bottom: 16px;
    padding-right: 16px;
}

.center {
    text-align: center;
}

.container {
    display: flex;
    padding: 46px;
    max-width: 950px;
    margin: 0 auto;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.profile h1{
    text-align: center;
 }

.profile p{
   text-align: center;
   letter-spacing: 1.4px;
}

.photo {
    width: 220px;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.social {
    display: flex;
    align-items: center;

}

.social img {
    width: 60px;
    padding: 8px;
}

.cases {
    display: grid;
    grid-template-columns: auto auto auto;
}

.cases .case {
   margin: 8px;
}

.cases .case img {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 4px;
 }

.more-case {
    width: 60px;
    cursor: pointer;
}

.cases .case img {
    width: 200px;
}

@media only screen and (max-width: 950px){
    .container {
        flex-direction: column;
        margin: 8px;
        align-items: center;
    }
    .cases {
        display: flex;
        flex-direction: column;
    }
    .cases .case img {
        width:  100%;
    }
    footer {
        text-align: center;
    }
}